div.content {
      margin-top: -32px !important;
    }


.slide {
    background:url(2010-SM-firefox.png);
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}

h1,h2, h3 {
   color: #333;
   font-family: Helvetica;
}

a:link {color:#f7681a;}
a:visited {color:#f7681a;}
a:hover {color:#2e2f2c;}

.code {
  text-align: left;
  font-family: Menlo, monospace;
  font-size: 0.6em;
}
